<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:insert="~{layout.html :: head}"></th:block>
</head>
<body>
    <div th:insert="~{layout.html :: header}"></div>
    
        <div class="bg-image" >

    <div class="container">
        <div class="text-light content-message fs-3 bg-white text-dark">
            <h3 class="display-9">Book Directory - Save Book</h3>
        </div>
        <form action="#" th:action="@{/books/save}" th:object="${book}" method="POST">
            <input type="hidden" th:field="*{id}">
            <input type="text" th:field="*{title}" class="form-control mb-4 w-25" placeholder="Title">
            <input type="text" th:field="*{author}" class="form-control mb-4 w-25" placeholder="Author">
            <input type="text" th:field="*{isbn}" class="form-control mb-4 w-25" placeholder="ISBN">
            <input type="number" th:field="*{number}" class="form-control mb-4 w-25" placeholder="Number">
            
            <button type="submit" class="btn btn-info col-2">Save</button>
        </form>
    </div>
</div>
        
        <div th:insert="~{layout.html :: footer}"></div>

    
    
    
</body>
</html>