<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
      <link rel="stylesheet" th:href="@{/css/main.css}" />
      <title>BookWander - Discover Worlds Between Pages</title>
  </th:block>
</head>
<body>
    <header th:fragment="header">
        <!-- Header content goes here -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><img height="100px" src="/images/logo.png"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" aria-current="page" href="/">Home</a>
                  <a class="nav-link" href="/books">Books</a>
                  <a class="nav-link" href="/orders/myorders">Orders</a>
                  <a class="nav-link" href="/orders/manage">Order Manage</a>
                  <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
                </div>
              </div>
            </div>
        </nav>
    </header>
    
    <footer th:fragment="footer">
        <!-- Footer content goes here -->
        <p>&copy; 2023 BookWander. All rights reserved.</p>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </footer>

    
</body>
</html>


